* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-container {
  width: 100%;
  margin: auto;
  background-color: #410f70;
  color: white;
}

.name {
  font-size: 2rem;
  padding-left: 1rem;
}
.navbar {
  height: 5rem;
  width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-right {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.navbar-right li {
  list-style: none;
  padding-right: 1rem;
  font-size: 1.5rem;
}
.content {
  height: calc(100vh - 5rem);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(2,0,36);
  background:linear-gradient(245deg,rgba(2,0,36,1) 0%,rgba(132,71,182,1) 99%,rgba(254,254,254,1) 100%); */
  background-image: linear-gradient(
    to right bottom,
    #6121b5,
    #5c47c2,
    #5e62ca,
    #687acf,
    #7a91d0,
    #798ecb,
    #778cc6,
    #7689c1,
    #616db4,
    #5351a5,
    #4a3293,
    #45057d
  );
}
